* {
  box-sizing: border-box;
}

/* Setting these for rem scaling */
html {
  font-size: calc(12px + 0.3vw);
  line-height: calc(1.1em + 0.3vw);
}

body,
html {
  height: 100%;
  width: 100%;
  background: black;
  font-family: 'Hind', sans-serif;
  color: $white;
}

h1, 
h2 {
  letter-spacing: 0.2rem;
  font-weight: 600;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}

p {
  text-transform: none;
  line-height: 1.8em;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  hyphens: auto;
}

li {
  @include flex-center;
  flex-wrap: wrap;
}