* {
  box-sizing: border-box;
}
body {
  height: 100%;
  background: $black;
  font-family: 'Hind', sans-serif;
  color: white;
}
h1{
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 600;
}
h2{
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 600;
}
h3, h4, h5, h6{
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-weight: 600;
}
i.fa-angle-right{
    color: $red;
}