// Set your colors
$black: rgb(29, 29, 29);
$gold: rgb(193, 163, 87);
$red: rgb(240, 84, 57);
$purple: #714ed2;
$purple-invert: findColorInvert($purple);


$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($purple, $purple-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $purple;
$link-invert: $purple-invert;
$link-focus-border: $purple;