$mobile-max-width: 480px;
$ipad-width: 768px;
$desktop-small-width: 992px;
$desktop-medium-width: 1200px;
$desktop-large-width: 1340px;

@mixin mobile-max {
	@media (max-width: #{$mobile-max-width}) {
		@content;
	}
}

@mixin ipad-min {
	@media (min-width: #{$ipad-width}) {
		@content;
	}
}

@mixin ipad-max {
	@media (max-width: #{$ipad-width}) {
		@content;
	}
}

@mixin small-min {
	@media (min-width: #{$desktop-small-width}) {
		@content;
	}
}

@mixin small-max {
	@media (max-width: #{$desktop-small-width}) {
		@content;
	}
}

@mixin medium-min {
	@media (min-width: #{$desktop-medium-width}) {
		@content;
	}
}

@mixin medium-max {
	@media (max-width: #{$desktop-medium-width}) {
		@content;
	}
}

@mixin large-min {
	@media (min-width: #{$desktop-large-width}) {
		@content;
	}
}