/* Accent colors */
$secondary: rgb(230, 96, 72);
$secondaryBright: rgb(238, 129, 109);
$secondaryDark: rgb(177, 59, 39);
$primary: #5d9989;
$primaryBright: #abd0c6;
$primaryDark: #2f463f;

/* Other colors */
$black: rgb(29, 29, 29);
$white: rgb(245, 226, 226);
$lightGrey: #7a7a7a;
$mediumGrey: #4a4a4a;
$gold: rgb(193, 163, 87);